* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Consolas, monospace;
  background: #000;
  color: #e5e7eb;
}

/* HERO */
.hero {
  min-height: 100vh;
  background-color: #00f6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background:
    linear-gradient(transparent 96%, rgba(0,246,255,0.08) 96%),
    linear-gradient(90deg, transparent 96%, rgba(0,246,255,0.08) 96%);
  background-size: 60px 60px;
}

.left {
  max-width: 55%;
}

/* TERMINAL */
.terminal {
  background: #020617;
  padding: 25px;
  border-left: 4px solid #00f6ff;
  box-shadow: 0 0 30px rgba(0,246,255,0.35);
  margin-bottom: 30px;
}

.prompt {
  color: #00f6ff;
}

.cursor {
  color: #00f6ff;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

h1 {
  font-size: 3.2rem;
  color: #00f6ff;
  text-shadow: 0 0 20px rgba(0,246,255,0.6);
}

.role {
  color: #7dd3fc;
  margin-top: 15px;
}

/* PROFILE */
.profile {
  margin-right: 200px;
  /* background-color: red; */
  border-radius: 60% 40%;
  border: 4px solid #00f6ff;
  box-shadow: 0 0 60px rgba(0,246,255,0.8);
  width: 100%;
  height: 50vh;
  /* border-radius: 50%; */
  object-fit: cover;
}

/* SECTIONS */
.section {
  max-width: 1100px;
  margin: 120px auto;
  text-align: center;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  color: #00f6ff;
}

.section p {
  max-width: 900px;
  margin: auto;
  line-height: 1.7;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.card {
  padding: 35px 20px;
  background: #020617;
  border: 1px solid rgba(0,246,255,0.25);
  box-shadow: 0 0 25px rgba(0,246,255,0.2);
  transition: 0.35s;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 45px rgba(0,246,255,0.7);
}

/* CERTIFICATE */
.cert-box img {
  width: 320px;
  border-radius: 12px;
  border: 2px solid #00f6ff;
  box-shadow: 0 0 50px rgba(0,246,255,0.9);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  color: #64748b;
}

/* .profile img {
  
} */


